<h3><%= l(:stats_label_filters) %></h3>

<% unless params["active_filter"].nil? or params["active_filter"]=="all"  %>
<div>
	<b><%= l(:stats_label_filtering_between) %></b> <br />
	<b><%= @dates[:begin_date]%></b>
	<%= l(:stats_label_and) %>
	<b><%= @dates[:end_date]%></b>
	<br>
</div>

<% end %>

<% 
	labels = [:stats_label_begining_of_time, :stats_label_current_week, :stats_label_last_week,:stats_label_current_month, :stats_label_last_month]
%>

<div>
	<%=link_to_function l(:stats_label_begining_of_time), "redirect(0)",class: ("selected" if params["time_filter"] == "all") %><br>
	<%=link_to_function l(:stats_label_current_week), "redirect(1)",class: ("selected" if params["time_filter"] == "current_week") %><br>
	<%=link_to_function l(:stats_label_last_week), "redirect(2)",class: ("selected" if params["time_filter"] == "last_week") %><br>
	<%=link_to_function l(:stats_label_current_month), "redirect(3)",class: ("selected" if params["time_filter"] == "current_month") %><br>
	<%=link_to_function l(:stats_label_last_month), "redirect(4)",class: ("selected" if params["time_filter"] == "last_month") %><br>
</div>

<div>
	<h3><%= l(:label_project) %>:</h3>
	<%= select_tag "cb_projects", options_from_collection_for_select(@projects, 'identifier', 'name', selected: params["project"])  %>
</div>

<div>
	<h3><%= l(:stats_label_legend) %>:</h3>
	<div class="legend red"></div><div class="label red_label"><%= l(:stats_label_open_issues)%></div>
	<br><br>
	<div class="legend green"></div><div class="label green_label"><%= l(:stats_label_closed_issues)%></div>
</div>







<script>
	$(function(){
		$( "#cb_projects" ).on( "click", function() {
		  window.location = "?project=" + $('#cb_projects option:selected').val() 
		});
	});

	function redirect(n)
	{
		var url;

		switch (n)
		{
			case 0: url = "<%= url_for :controller => 'stats', :action => 'index', :time_filter => 'all' %>"; break;
			case 1: url = "<%= url_for :controller => 'stats', :action => 'index', :time_filter => 'current_week' %>"; break;
			case 2: url = "<%= url_for :controller => 'stats', :action => 'index', :time_filter => 'last_week' %>"; break;
			case 3: url = "<%= url_for :controller => 'stats', :action => 'index', :time_filter => 'current_month' %>"; break;
			case 4: url = "<%= url_for :controller => 'stats', :action => 'index', :time_filter => 'last_month' %>"; break;
		}

		url += "?project=" + $('#cb_projects option:selected').val();
		window.location = url;
	}

</script>